[submodule "cpp-streamer/submodules/cpp-httplib"]
	path = cpp-streamer/submodules/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib.git
[submodule "cpp-streamer/submodules/opencv"]
	path = cpp-streamer/submodules/opencv
	url = https://github.com/opencv/opencv.git
[submodule "cpp-streamer/submodules/opencv_contrib"]
	path = cpp-streamer/submodules/opencv_contrib
	url = https://github.com/opencv/opencv_contrib.git
